<div class="jumbotron" ng-controller="MainCtrl">
  <h1>Roulette Flix</h1>

</div>
<div class="filters">
  <form ng-submit='spin()'>
    <input type='text' ng-model='search.actor' placeholder='Actor'>
    <input type='text' ng-model='search.director' placeholder='Director'>
    <!-- <input type='text' ng-model='search.genre' placeholder='Genre'> -->
    <input type='text' ng-model='search.year' placeholder='Year'><br>
    <button class='btn'>SPIN</button>
  </form>  
</div>

  <div class='container resContainer'>
    <div class='result'>
      <div class='poster'>
      <img src='{{result.poster}}'/>
      </div>
      <div class='about'>
        <h1>{{ result.show_title }}</h1>
        <p><strong>Netflix rating:</strong> {{result.rating}} </p>
        <p>{{result.summary}}</p>
        <p><strong>Director: </strong>{{result.director}}</p>
        <p><strong>Cast: </strong> {{result.show_cast}} </p>
      </div>
    </div>
    <!-- <a class='btn' href='/#/about'>{{buttonText}}</a> -->
  </div>
